<link rel="stylesheet" href="../css/footer.css">

<footer class="site-footer">
  <section class="site-footer-content">
    <p class="site-footer-text">&copy; 2025 Plataforma Primia.</p>
    <nav class="site-footer-nav">
      <a href="/sobre" class="site-footer-link">Sobre</a>
      <a href="/contato" class="site-footer-link">Contato</a>
      <a href="/telainicial" class="site-footer-link">Início</a>
    </nav>
  </section>
</footer>
