<link rel="stylesheet" href="../css/footer.css">

<footer class="site-footer">
  <section class="site-footer-top">
    <img src="../image/logofooter.png" alt="Logo Primia" class="site-footer-logo">
    <nav class="site-footer-nav-links">
      <a href="/sobre" class="site-footer-link">Sobre A Primia</a>
      <a href="/contato" class="site-footer-link">Contato</a>
      <a href="/forum" class="site-footer-link">Fórum</a>
      <a href="/duvidas" class="site-footer-link">Portal De Dúvidas</a>
      <a href="/termopriva" class="site-footer-link">Política De Privacidade</a>
      <a href="/termouso" class="site-footer-link">Termos de Uso</a>
    </nav>
  </section>
  <section class="site-footer-bottom">
    <nav class="site-footer-social">
      <a href="#" class="site-footer-social-icon"><img src="../image/instagram.png" alt="Instagram"></a>
      <a href="#" class="site-footer-social-icon"><img src="../image/github.png" alt="GitHub"></a>
      <a href="#" class="site-footer-social-icon"><img src="../image/youtube.png" alt="YouTube"></a>
      <a href="#" class="site-footer-social-icon"><img src="../image/facebook.png" alt="Facebook"></a>
      <a href="#" class="site-footer-social-icon"><img src="../image/linkedin.png" alt="LinkedIn"></a>
    </nav>
    <p class="site-footer-text-bottom">Política De Privacidade &copy; 2025 Primia</p>
  </section>
</footer>