<link rel="stylesheet" href="../css/hdeslogado.css">

<header>
  <article id="title">

    
   <a class="h11" href="/telainicial">Plataforma </a>
    <a class="h11" href="/telainicial">Primia</a>


  </article>


  <nav role="navigation" id="menuToggle">
    <input type="checkbox" id="hamburger-toggle" />
    <label for="hamburger-toggle" class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </label>

    <ul class="ul1">
      <a class="a1" href="/telainicial"><li id="inicio">Início</li></a>
      <a class="a1" href="/sobre"><li>Sobre</li></a>
      <a class="a1" href="/contato"><li>Contato</li></a>
      

    </ul>
  </nav>
</header>