<link rel="stylesheet" href="../css/header.css">

<header>
  <article id="title">

    
    <h1 class="h11">Plataforma</h1>
    <h1 class="h11">Primia</h1>
  </article>

  <nav role="navigation" id="menuToggle">
    <input type="checkbox" id="hamburger-toggle" />
    <label for="hamburger-toggle" class="hamburger">
      <span></span>
      <span></span>
      <span></span>
    </label>

    <ul class="ul1">
      <a class="a1" href="/telainicial"><li id="inicio">Início</li></a>
      <a class="a1" href="/sobre"><li>Sobre</li></a>
      <a class="a1" href="/contato"><li>Contato</li></a>
    </ul>
  </nav>
</header>