  <link rel="stylesheet" href="../css/header.css">

<body>

  <header>
  <article id="title">
    <h1>Plataforma</h1>
    <h1>Prima</h1>
  </article>
 
  <nav role="navigation" id="menuToggle">
     
        <input type="checkbox" id="hamburger-toggle" />
     
        <label for="hamburger-toggle" class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </label>
 
        <ul>
            <a href="/telainicial"><li id="inicio">Início</li></a>
            <a href="#"><li>Sobre</li></a>
            <a href="#"><li>Contato</li></a>

        </ul>   
  
</body>
