@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
body {
    background-color: white;
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
}


.contato-container {
    max-width: 500px;
    margin: 80px auto;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.contato-container h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-size: 1.8rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: 500;
    color: #444;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

input:focus, textarea:focus {
    outline: none;
    border-color: #A398D1;
    box-shadow: 0 0 4px rgba(163, 152, 209, 0.4);
}

button {
    padding: 12px;
    background-color: #A398D1;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #8d7cc6;
}