.site-footer {
  background-color: #A398D1;
  color: white;
  padding: 15px 20px;
  width: 100vw;   /* ocupa 100% da largura da tela */
  margin-left: calc(-50vw + 50%); /* "escapa" do max-width */
  position: static;
}


.site-footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1100px;
  margin: 0 auto;
}

.site-footer-text {
  margin: 0;
  font-size: 14px;
}

.site-footer-nav {
  display: flex;
  gap: 15px;
}

.site-footer-link {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.site-footer-link:hover {
  text-decoration: underline;
}




/* Ajuste para mobile */
@media (max-width: 600px) {
  .site-footer-content {
    flex-direction: column;
    text-align: center;
    gap: 8px;
  }
}

