@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');



header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title {
    flex-direction: column;
    line-height: 10px;
}

li {
    display: inline-block;
    margin: 20px;
}

.a1 {
    color: black;
    text-decoration: none;
}

.a1:hover {
    color: #A398D1;
    transition: 0.3s all;
}

#iu {
    border: 2px solid #A398D1;
    padding: 10px;
    border-radius: 15px;
}

#iu:hover {
    background-color: #A398D1;
    color: white;
}

.h11 {
    font-weight: 200;
}



span {
    color: #A398D1;
}

p {
    line-height: 20px;
    max-width: 500px;
    font-family: 'Poppins';
}



#hamburger-toggle {
    margin-top: 20px;
    height: 50px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
    width: 50%;
    background-color: #A398D1;
    color: white;
    font-weight: bold;
    display: none;
}

/* Menu hambúrguer */
.hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 28px;
    height: 20px;
    cursor: pointer;
}

.hamburger span {
    display: block;
    height: 3px;
    background: #000;
    border-radius: 3px;
}

#hamburger-toggle:checked + .hamburger span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}
#hamburger-toggle:checked + .hamburger span:nth-child(2) {
    opacity: 0;
}
#hamburger-toggle:checked + .hamburger span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}

#hamburger-toggle:checked ~ .ul1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Responsivo */
@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    #menuToggle .ul1 {
        display: none;
        background: #fff;
        border-radius: 10px;
        padding: 20px;
        margin-top: 10px;
        gap: 15px;
    }

    #menuToggle .ul1 .a1 {
        display: block;
        color: #000;
        font-size: 18px;
    }

    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    
}


.h11{
      display: flex;
     flex-direction: column;
     color: black;
     text-decoration: none;
     height: 100%;
    font-size: 24px;
    margin: 20px 0px;
    
  
}
