@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
body{
     background: white;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 10px;
  color: #000;
  font-family: 'Poppins', sans-serif;
   margin: 0 auto;
}
main {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* agora alinha pelo topo */
    /* espaço do topo */ padding-top: 160px;
    background-color: white;
    min-height: calc(100vh - 100px);
}



.login-container {
    background-color: #C9BCE3;
    padding: 30px;
    border-radius: 15px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}

.tab-menu {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 5px;
}

.tab {
    padding: 8px 15px;
    font-size: 16px;
    background: transparent;
    border-radius: 20px;
    transition: background 0.3s, color 0.3s;
    display: inline-block;
    color: #000000;
}

.tab:hover {
   
    color: #fff
}

.tab.active {
    background: #fff;
    color: #000000;
}

.option {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.option-box {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #A398D1;
    padding: 12px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s, color 0.3s;
}

.option-box:hover {
    background: #B8B8FF;
    color: #C9BCE3;
}

.icon {
    width: 24px;
    height: 24px;
}
span{
  color: white;
}



