<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro Professor</title>
  <%- include('../partials/hdeslogado.ejs') %>
  <link rel="stylesheet" href="/css/cadastroprofessor.css">
  <script src="https://kit.fontawesome.com/a2d9a64d65.js" crossorigin="anonymous"></script>
</head>
<body>

<main class="cadastro-container">
  <section class="cadastro-form">
    <form id="cadastroProfessorForm" action="/entradaprofessor" method="POST" novalidate>
      
      <label>
        <i class="fa fa-user"></i>
        <input type="text" id="nomeCompleto" name="nomeCompleto" placeholder="Nome completo" required>
      </label>
      <small id="erro-nome" class="mensagem-erro"></small>

      <label>
        <i class="fa fa-envelope"></i>
        <input type="email" id="email" name="email" placeholder="Email" required>
      </label>

      <label>
        <i class="fa fa-lock"></i>
        <input type="password" id="senha" name="senha" placeholder="Senha" required>
        <i class="fa fa-eye toggleSenha" data-target="senha"></i>
      </label>

      <ul class="requisitos">
        <li id="tamanho">Entre 8 e 15 caracteres</li>
        <li id="maiuscula">Letra maiúscula</li>
        <li id="minuscula">Letra minúscula</li>
        <li id="numero">Número</li>
        <li id="especial">Caractere especial (@!#$%&)</li>
      </ul>

      <label>
        <i class="fa fa-lock"></i>
        <input type="password" id="confirmarSenha" name="confirmarSenha" placeholder="Confirmar senha" required>
        <i class="fa fa-eye toggleSenha" data-target="confirmarSenha"></i>
      </label>
      <small id="erro-confirmar" class="mensagem-erro"></small>

      <label>
        <i class="fa fa-calendar"></i>
        <input type="date" id="dataNascimento" name="dataNascimento" required>
      </label>

      <label>
        <i class="fa fa-file-upload"></i>
        <input type="file" id="diploma" name="diploma" accept=".pdf,.jpg,.png" required>
      </label>

      <label>
        <i class="fa fa-book"></i>
        <select id="materia" name="materia" required>
          <option value="">Matéria que leciona</option>
          <option>Português</option>
          <option>Matemática</option>
          <option>História</option>
          <option>Geografia</option>
          <option>Biologia</option>
          <option>Física</option>
          <option>Química</option>
          <option>Inglês</option>
          <option>Educação Física</option>
          <option>Filosofia</option>
          <option>Sociologia</option>
          <option>Artes</option>
        </select>
      </label>

      <button type="submit" class="btn-cadastrar">Cadastrar</button>
    </form>
  </section>

  
</main>

<script src="../js/cadastroprofessor.js"></script>
</body>
</html>
