

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="../css/contato.css">
    <%- include('../partials/header.ejs') %>
</head>
<body>
     

        <main class="contato-container">
        <h1>Fale Conosco</h1>
        <form action="/enviar-contato" method="POST">
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" placeholder="Seu nome" required>

            <label for="email">E-mail</label>
            <input type="email" id="email" name="email" placeholder="seuemail@exemplo.com" required>

            <label for="mensagem">Mensagem</label>
            <textarea id="mensagem" name="mensagem" placeholder="Digite sua mensagem..." rows="5" required></textarea>

            <button type="submit">Enviar</button>
        </form>
    </main>




</body>
<%- include('../partials/footer.ejs') %>
</html>