<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portal de Dúvidas</title>
  <link rel="stylesheet" href="../css/duvida.css" />
  <%- include('../partials/header.ejs') %>
</head>
<body>



  <main>
    <h2 id="titulo-duvidas">Portal de Dúvidas</h2>

    <section id="duvida">
      <details open>
        <summary><span>Qual é a diferença entre “mau” e “mal”?</span></summary>
        <p>"Mau" é adjetivo (oposto de bom). "Mal" pode ser advérbio (oposto de bem) ou substantivo.</p>
      </details>

      <details open>
        <summary><span>Normalmente, quantos litros de sangue uma pessoa tem?</span></summary>
        <p>O corpo humano adulto possui entre 4,5 e 6 litros de sangue, em média.</p>
      </details>

      <details>
        <summary>
          <span>Qual a maior província brasileira?</span>
          <label class="responder-btn" for="resposta3">Responder</label>
        </summary>
        <input type="checkbox" id="resposta3" hidden />
        <section class="resposta-box">
          <textarea placeholder="Digite sua resposta..."></textarea>
          <br>
          <button type="submit">Enviar</button>
        </section>
      </details>
    </section>

    <form>
      <input type="text" id="duvida-input" name="duvida" placeholder="Digite sua dúvida" />
      <button type="button"><img src="../image/envio.png.png" alt="Enviar" width="20" height="20" /></button>
      <button type="button"><img src="../image/câmera.png.png" alt="Câmera" width="20" height="20" /></button>
      <button type="button"><img src="../image/microfone.png.png" alt="Microfone" width="20" height="20" /></button>
    </form>
  </main>
</body>
</html>