<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Matérias Plataforma Prima</title>

  <!-- Seu CSS do header -->
  <%- include('../partials/header.ejs') %>

  <!-- CSS das matérias -->
  <link rel="stylesheet" href="../css/entrada.css" />

  <!-- Ícones Bootstrap (para o ícone do perfil) -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet" />
</head>
<body>

  <!-- Header -->
  
  <!-- Conteúdo principal -->
  <main>
    <section class="perfil">
      <figure class="icone-perfil">
        <i class="bi bi-person-circle"></i>
      </figure>
    </section>

    <nav class="botao-tipo">
      <a class="button" href="/duvida">Dúvida</a>
      <a class="button" href="/chat">Chat</a>
    </nav>

    <section class="materias">
      <h2>Nossas Matérias</h2>
      <ul class="grid">
        <li class="materia">
          <a href="#portugues" class="materia-link">
            <img src="https://img.icons8.com/ios/50/000000/book.png" alt="Língua Portuguesa" />
            <p>Língua Portuguesa</p>
          </a>
        </li>
        <li class="materia">
          <a href="#matematica" class="materia-link">
            <img src="https://img.icons8.com/ios/50/000000/calculator.png" alt="Matemática" />
            <p>Matemática</p>
          </a>
        </li>
        <li class="materia">
          <a href="#historia" class="materia-link">
            <img src="https://img.icons8.com/ios/50/000000/hourglass.png" alt="História" />
            <p>História</p>
          </a>
        </li>
        <li class="materia">
          <a href="#geografia" class="materia-link">
            <img src="https://img.icons8.com/ios/50/000000/worldwide-location.png" alt="Geografia" />
            <p>Geografia</p>
          </a>
        </li>
        <li class="materia">
          <a href="#biologia" class="materia-link">
            <img src="https://img.icons8.com/ios/50/000000/bacteria.png" alt="Biologia" />
            <p>Biologia</p>
          </a>
        </li>
        <li class="materia">
          <a href="#fisica" class="materia-link">
            <img src="https://img.icons8.com/ios/50/000000/physics.png" alt="Física" />
            <p>Física</p>
          </a>
        </li>
        <li class="materia">
          <a href="#quimica" class="materia-link">
            <img src="https://img.icons8.com/ios/50/000000/test-tube.png" alt="Química" />
            <p>Química</p>
          </a>
        </li>
        <li class="materia">
          <a href="#filosofia" class="materia-link">
            <img src="https://img.icons8.com/ios/50/000000/greek-pillar.png" alt="Filosofia" />
            <p>Filosofia</p>
          </a>
        </li>
        <li class="materia">
          <a href="#sociologia" class="materia-link">
            <img src="https://img.icons8.com/ios/50/000000/conference.png" alt="Sociologia" />
            <p>Sociologia</p>
          </a>
        </li>
        <li class="materia">
          <a href="#ingles" class="materia-link">
            <img src="https://img.icons8.com/ios/50/000000/great-britain.png" alt="Inglês" />
            <p>Inglês</p>
          </a>
        </li>
      </ul>
    </section>
  </main>

</body>
</html>