
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <%- include("../partials/hdeslogado.ejs") %>
  <title>Provia - Seleção de Usuário</title>
  <link href="../css/login3.css" rel="stylesheet">
</head>
<body>
    <!-- SEÇÃO ROXA DE FUNDO -->
    <section class="secao-roxa">
        <!-- LOGO CENTRALIZADA -->
        <figure class="logo-wrapper">
            <img src="../image/logofooter.png" alt="Primia Logo" class="logo-principal">
        </figure>

        <!-- CARD DE SELEÇÃO -->
        <article class="card-selecao">
            <nav class="navegacao-selecao">
                <a href="/cadastro-aluno" class="botao-selecao botao-aluno">
                    Aluno
                </a>
                
                <a href="/cadastro-professor" class="botao-selecao botao-professor">
                    Professor
                </a>
            </nav>

            <footer class="rodape-card">
                <a href="/professor" class="link-login">Já tem uma conta?</a>
            </footer>
        </article>
    </section>

</body>

</html>