<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Primia - Seleção de Usuário</title>

    <%- include("../partials/hdeslogado.ejs") %>
        <link href="../css/naotemumaconta.css" rel="stylesheet">
</head>

<body>
    <!-- SEÇÃO ROXA DE FUNDO -->
    <section class="secao-roxa">
        <!-- LOGO CENTRALIZADA -->
        <figure class="logo-wrapper">
            <img src="../image/logofooter.png" alt="Primia Logo" class="logo-principal">
        </figure>

        <!-- CARD DE SELEÇÃO -->
        <article class="card-selecao">
            <h6>Faça login</h6>
            <nav class="navegacao-selecao">
                <a href="/login" class="botao-selecao botao-aluno">
                    Aluno
                </a>

                <a href="/login" class="botao-selecao botao-professor">
                    Professor
                </a>
            </nav>


        </article>
    </section>

</body>

</html>