<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Sobre - Plataforma Prima</title>

  
  <%- include('../partials/header.ejs') %>
  <link rel="stylesheet" href="../css/sobre.css" />
</head>


<body>
  <main class="sobre-container">
    <section class="texto-sobre">
      <h2>Sobre a Plataforma Prima</h2>
      <p>
        A Plataforma Prima foi criada para facilitar o aprendizado de estudantes, 
        oferecendo conteúdos de qualidade e uma interface intuitiva. 
        Nosso objetivo é transformar a educação em uma experiência acessível e motivadora para todos.
      </p>
      <p>
        Desde nosso lançamento, temos investido em tecnologia e didática para garantir que cada aluno encontre na Prima a melhor forma de estudar e crescer academicamente.
      </p>
        <p>
        A Plataforma Prima foi criada para facilitar o aprendizado de estudantes, 
        oferecendo conteúdos de qualidade e uma interface intuitiva. 
        Nosso objetivo é transformar a educação em uma experiência
      </p>
      <p>
       desenvolvido para oferecer cursos de qualidade e acessíveis a todos. Com uma interface intuitiva e conteúdos atualizados, permite que estudantes de diferentes idades e níveis aprendam de maneira prática e interativa, explorando diversas áreas do 
      </p>
    </section>

    <section class="imagem-sobre">
      <img src="../image/roxoestudo.jpg" alt="Imagem sobre educação" />
    </section>
  </main>

  
</body>
<%- include('../partials/footer.ejs') %>
</html>