<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Termos de Privacidade - Plataforma Prima</title>

  
  <%- include('../partials/header.ejs') %>
  <link rel="stylesheet" href="../css/sobre.css" />
</head>


<body>
  <main class="sobre-container">
    <section class="texto-sobre">
      <h2>Termos de Privacidade</h2>

      <p>
        
Nós respeitamos sua privacidade. Coletamos dados pessoais como nome e e-mail quando fornecidos voluntariamente pelo usuário. <br>

Esses dados são utilizados para responder mensagens, processar solicitações e melhorar nossos serviços. <br>

Não vendemos dados pessoais a terceiros. Poderemos compartilhar informações com parceiros responsáveis pelo funcionamento do site. <br>

O usuário pode solicitar acesso, correção ou exclusão de seus dados a qualquer momento, conforme previsto na Lei nº 13.709/2018 (LGPD). <br>

Para mais informações, entre em contato pelo e-mail: acessoprimia@gmail.com 

    </p>
      
    </section>

    <section class="imagem-sobre">
      <img src="../image/roxoestudo.jpg" alt="Imagem sobre educação" />
    </section>
  </main>

  
</body>
<%- include('../partials/footer.ejs') %>
</html>