<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Termos de Uso - Plataforma Prima</title>

  
  <%- include('../partials/header.ejs') %>
  <link rel="stylesheet" href="../css/sobre.css" />
</head>


<body>
  <main class="sobre-container">
    <section class="texto-sobre">
      <h1>Termos de Uso</h1>

      <p>

Ao acessar este site, o usuário concorda com os presentes Termos de Uso: </p>

<p>
 • usuário compromete-se a utilizar o site de forma ética e legal, não praticando atividades ilícitas, fraudulentas ou que violem direitos de terceiros. <br>

• Todo o conteúdo disponível neste site é protegido por direitos autorais e não pode ser reproduzido sem autorização. <br>

• O professor é o único responsável pela veracidade, autenticidade e atualização de todas as informações e documentos fornecidos na plataforma. <br>

• Ao enviar qualquer documento, o professor declara que as informações são verdadeiras, completas e corretas, estando ciente de que o fornecimento de informações falsas, incorretas ou desatualizadas poderá resultar na suspensão ou exclusão de sua conta, sem prejuízo das medidas legais cabíveis. <br>

• A plataforma não se responsabiliza pela verificação prévia da autenticidade dos documentos enviados, sendo tal responsabilidade exclusiva do professor. <br>

• Reservamo-nos o direito de modificar estes Termos a qualquer momento. <br>

• Este documento é regido pelas leis brasileiras.

    </p>
      
    </section>

    <section class="imagem-sobre">
      <img src="../image/roxoestudo.jpg" alt="Imagem sobre educação" />
    </section>
  </main>

  
</body>
<%- include('../partials/footer.ejs') %>
</html>